*~
frontend/plugins
frontend/.sass-cache/
frontend/www
frontend/platforms
frontend/dist/
frontend/node_modules/
frontend/bower_components/
frontend/vendor/
Thumbs.db
.DS_Store
frontend/npm-debug.log
frontend/.project
frontend/.settings
frontend/config/secret.json
